        <hgroup id="campaign-details">
                <h3>{{ .Data.Name }}</h3>  
                <p>This campaign is an Adventurer Conqueror King II game, judged by {{ .Data.Judge }}. It's last adventure was on {{ call .NaturalDate .Data.LastAdventure }}</p>
<!--
                <ul style="list-style: none;">
                    <li>
                       <label>Judge</label>{{ .Data.Judge }}
                    </li>
                    <li>
                        Looking for Players?
                        {{ .Data.Recruitment }}
                    </li>
                    <li>
                        Last Adventure</td>
                    </li>
                    <li>
                         Time Keeping 
                         {{ .Data.Timekeeping }} 
                    </li>
                    </ul>-->
                {{ if .HasEditAccess }}
                <button hx-get="{{ .Data.MainPath.Edit}}" hx-trigger="mousedown" hx-target="closest hgroup" hx-swap="innerHTML">Edit Campaign</button>
                {{ end }}
            </hgroup>