<hgroup id="results">
    <h3>Adventure Results</h3>
    <4>XP Totals</4>
    <ul>
        <li><span>Total XP: {{ .Data.TotalXPAmount }}</span></li>
        <li><span>Full Share: {{ .Data.FullShareXP }}</span> </li>
        <li><span>Half Share: {{ .Data.HalfShareXP }}</span></li>
    </ul>
    <h4>Gold Totals</h4>
    <ul>
        <li><span>Total XP: {{ .Data.TotalGpAmount }}</span></li>
        <li><span>Full Share: {{ .Data.FullShareGP }}</span> </li>
        <li><span>Half Share: {{ .Data.HalfShareGP }}</span></li>
    </ul>
</hgroup>