<form style="display: flex; ;position: relative; align-items: center; justify-content: center;" onsubmit="return false;">
        <ol>
            <li></li>
        <label><b>Username:</b></label>
        <input type="text" name="username">
        {{ if .NameError }}
        <small>
            {{ .NameError }}
        </small>
        {{ end }}
    </li>
    <li>
        <label> <b>Password:</b> </label>
        <input type="password" name="password">
        {{ if .PasswordError }}
        <small>
            {{ .PasswordError }}
        </small>
        {{ end }}
</li>
<li>
    
    <button hx-post="/gate" hx-target="closest form">Login</button>
</li>
</ol>
</form>