<fieldset>
    <legend>
        Magic Items
    </legend>
    <ol>
        <li>
            <span>Apparent Value</span>
        </li>
        {{ range $i, $item := .Data.MagicItems }}
        <li>
            <span>Magic Item</span>
            <input type="hidden" name="magic-item-id" value="{{ $i }}" />
            <input hx-target="this" hx-swap="none" hx-trigger="change"
                hx-patch="/calculator/magic-item" class="numberInput" name="magic-item-gp-value" type="text" value="{{ $item.DisplayApparentValue }}"></input>
            <label for="magic-item-sold-{{ $i }}">Item Sold Without Use?</label>
            <input type="checkbox" hx-target="closest fieldset" hx-swap="outerHTML" hx-trigger="click"
                hx-put="/calculator/magic-item" class="numberInput" name="magic-item-sold" id="magic-item-sold-{{ $i }}"
                {{ if $item.WasSold}} checked="true" {{ else }} {{ end }}></input>
            <input hx-target="this" hx-swap="none" hx-trigger="change"
                hx-patch="/calculator/magic-item" class="numberInput" name="magic-item-gp-sold-value" type="text" value="{{ $item.DisplayActualValue }}" 
                {{ if $item.WasSold}} {{ else }} disabled {{ end }}></input>
            <button hx-target="closest li" hx-swap="delete" hx-trigger="mousedown"
                hx-delete="/calculator/magic-item" class="danger">Delete</button>
        </li>
        {{ end }}
        <li><button class="add" hx-target="closest fieldset" hx-swap="outerHTML" hx-trigger="mousedown"
                hx-post="/calculator/magic-item">Add Magic Item</button></li>
    </ol>
    <div id="magic-itemError"></div>
</fieldset>