<fieldset>
        <legend>
            Coins
        </legend>
        <ol>
            <li>
                <label for="copper"  >Copper: </label> <input id="copper" hx-swap="none" hx-trigger="change"
                hx-patch="/calculator/coins" type="text" name="copper"
                    value="{{ .Data.Copper}}" />
            </li>
            <li>
                <label for="silver" >Silver: </label> <input type="text" name="silver"
                    value="{{ .Data.Silver}}" id="silver" hx-swap="none" hx-trigger="change"
                hx-patch="/calculator/coins"  />
            </li>
            <li>
                <label for="electrum"  >Electrum: </label> <input type="text" name="electrum"
                    value="{{ .Data.Electrum}}" id="electrum" hx-swap="none" hx-trigger="change"
                hx-patch="/calculator/coins" />
            </li>
            <li>
                <label for="gold">Gold: </label> <input id="gold" hx-swap="none" hx-trigger="change"
                hx-patch="/calculator/coins"  type="text" name="gold" value="{{ .Data.Gold }}" />
            </li>
            <li>
                <label for="platinum" >Platinum: </label> <input id="platinum" hx-swap="none" hx-trigger="change"
                hx-patch="/calculator/coins"  type="text" name="platinum"
                    value="{{ .Data.Platinum }}" />
            </li>
        </ol>
</fieldset>

