<fieldset>
    <legend>
        Gems and Jewellery
    </legend>
    <ol>
        <li>
            <span>Item Type</span>
            <span>Number found</span>
            <span>Gold Value</span>
        </li>
        {{ range $i, $item := .Data.Loot }}
        <li>
            <span>Gem or Jewellery</span>
            <input type="hidden" name="loot-id" value="{{ $i }}" />
            <input hx-target="next .loot-totals" hx-swap="outerHTML" hx-trigger="change"
                hx-patch="/calculator/loot?type=gem_jewellery&item={{ $i }}" class="numberInput" name="loot-number" type="text" value="{{ $item.DisplayNumber }}"></input>
            <input hx-target="next .loot-totals" hx-swap="outerHTML" hx-trigger="change"
                hx-patch="/calculator/loot?type=gem_jewellery&item={{ $i }}" class="numberInput" name="loot-gp-value" type="text" value="{{ $item.DisplayGPAmount }}"></input>
            <div class="loot-totals">
            <span>Total GP value {{ $item.DisplayTotalGPAmount }}</span>
            <span>Total XP value {{ $item.DisplayTotalXPAmount }}</span>
            </div>
            <button hx-target="closest li" hx-swap="delete" hx-trigger="mousedown"
                hx-delete="/calculator/loot" class="danger">Delete</button>
        </li>
        {{ end }}
        <li><button class="add" hx-target="closest fieldset" hx-swap="outerHTML" hx-trigger="mousedown"
                hx-post="/calculator/loot?type=gem_jewellery">Add Gem or Jewellery</button></li>
    </ol>
    <div id="lootError"></div>
</fieldset>


