<fieldset>
        <legend>
            Coins
        </legend>
        <ol>
            <li>
                <lable for="copper">Copper: </lable> <input type="text" name="copper"
                    value="{{ .Data.Copper}}" />
            </li>
            <li>
                <lable for="silver">Silver: </lable> <input type="text" name="silver"
                    value="{{ .Data.Silver}}" />
            </li>
            <li>
                <lable for="electrum">Electrum: </lable> <input type="text" name="electrum"
                    value="{{ .Data.Electrum}}" />
            </li>
            <li>
                <lable for="gold">Gold: </lable> <input type="text" name="gold" value="{{ .Data.Gold }}" />
            </li>
            <li>
                <lable for="platinum">Platinum: </lable> <input type="text" name="platinum"
                    value="{{ .Data.Platinum }}" />
            </li>
        </ol>
</fieldset>
