<fieldset></fieldset>
    <legend>
        Magic Items
    </legend>
    <ol>
        {{ range Data.MagicItems }}
        <li>
            <input name="magicItem-name" type="text" value="{{ .Item.Name }}" />
            {{ if nt .Valid }}
            <br>
            <small class="form-text text-danger">
                {{ .Errors.Name }}
            </small>
            {{end}}
            <input name="magicItem-gp-value" type="text" value="{{ .GPValue }}"></input>

            {{ if .Errors.GPValue }}
            <small class="form-text text-danger">
                {{ .Errors.GPValue }}
            </small>
            <button hx-target="closest li" hx-swap="outerHTML" hx-trigger="mousedown"
                hx-delete="/calculator/loot?type=magicItem">Delete</button>
             {{end}} 
        </li>
        {{ end }}
        <li><button class="add" hx-target="closest li" hx-swap="beforebegin" hx-trigger="mousedown" hx-post="/calculator/loot?type=magicItem"></button></li>
    </ol>
</fieldset>