<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>The Keep on the Internet</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
</head>

<body>
    <div id="container">
        <div class="flex">
            <div id="maind">
                <div id="Software">
                    Proudly made with golang and htmx
                    <img alt="Made with htmx" src="/static/img/createdwith.jpeg" width="680" height="168">
                </div>
            </div>
            <div id="sided" style="max-width: 225px">
            </div>
        </div>
    </div>
</body>

</html>