<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>The Keep on the Internet</title>
    <link rel="stylesheet" href="/static/css/adventure.css">
    <script src="https://unpkg.com/htmx.org"></script>
</head>

<body>
    <div id="container">
        <div class="flex">
            <div id="maind">
                <div class="box" id="adventure-details">
                    <h3>{{ .Name }}</h3>
                    <table>
                        <tr>
                            <td><label for="xp-recovered">Amount of XP Recovered:</label></td>
                            <td><span id="xp-recovered">{{ .TotalXPAmount }}</span></td>
                        </tr>
                        <tr>
                            <td><label for="xp-fullshare">Amount of a Full Share:</label></td>
                            <td><span id="xp-fullshare">{{ .FullShareXP }}</span> </td>
                        </tr>
                        <tr>
                            <td><label for="xp-halfshare">Amount of a Half Share:</label></td>
                            <td><span id="xp-halfshare">{{ .HalfShareXP }}</span> </td>
                        </tr>
                    </table>
                </div>
                <div class="box" hx-target="this" hx-swap="outerHTML">
                    <h3>Coins - {{.Coins.TotalXPAmount }} XP</h3>
                    <table>
                        <thead>
                            <th>Type</th>
                            <th>Amount</th>
                            <th>XP Amount</th>
                        </thead>
                        <tr>
                            <td>Copper:</td>
                            <td>{{ .Coins.Copper.Number }}</td>
                            <td>{{ .Coins.Copper.TotalXPAmount }}</td>
                        </tr>
                        <tr>
                            <td>Silver:</td>
                            <td>{{ .Coins.Silver.Number }}</td>
                            <td>{{ .Coins.Silver.TotalXPAmount }}</td>
                        </tr>
                        <tr>
                            <td>Electrum:</td>
                            <td>{{ .Coins.Electrum.Number }}</td>
                            <td>{{ .Coins.Electrum.TotalXPAmount }}</td>

                        </tr>
                        <tr>
                            <td>Gold:</td>
                            <td>{{ .Coins.Gold.Number }}</td>
                            <td>{{ .Coins.Gold.TotalXPAmount }}</td>
                        </tr>
                        <tr>
                            <td>Platinum:</td>
                            <td>{{ .Coins.Platinum.Number }}</td>
                            <td>{{ .Coins.Platinum.TotalXPAmount }}</td>
                        </tr>
                    </table>
                    <button hx-get="{{ .CoinPath.Edit }}">Edit</button>
                </div>
                <div class="box">
                    <h3>Characters</h3>
                    <table id="characterList">
                    </table>
                </div>
                <div class="box" hx-target="this" hx-swap="innerHTML">
                    <h3>Gemstones Recovered</h3>
                    <table class="xp-source" id="GemList">
                        <thead>
                            <tr>
                                <th class="td">Gem Name</th>
                                <th class="td">Number Found</th>
                                <th class="td">XP Per One</th>
                                <th class="td">Total XP</th>
                                <th class="td button-space"></th>
                                <th class="td"></th>
                            </tr>
                        </thead>
                        <tbody> {{ range .Gems }}
                            <tr>
                                <td>{{ .Name }}</td>
                                <td>{{ .Number }}</td>
                                <td>{{ .XPValue }}</td>
                                <td>{{ .TotalXPAmount }}</td>
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                    <button hx-get="{{ .GemPath.Edit }}" hx-trigger="mousedown">Edit Gems</button>
                </div>
                <div id="sided" style="max-width: 225px">
                </div>
            </div>
        </div>
    </div>
</body>

</html>