<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>The Keep on the Internet</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
</head>

<body>

    <div id="container">
        <div class="flex">
            <div id="maind">
                <div id="adventure-details">
                </div>
                <div class="box">
                    <h3>{{ .Name }}</h3>
                    <table>
                        <tr>
                            <td><label for="xp-recovered">Amount of XP Recovered:</label></td>
                            <td><span id="xp-recovered">{{ .TotalXPAmount }}</span></td>
                        </tr>
                        <tr>
                            <td><label for="xp-fullshare">Amount of a Full Share:</label></td>
                            <td><span id="xp-fullshare">{{ .FullShareXP }}</span> </td>
                        </tr>
                        <tr>
                            <td><label for="xp-halfshare">Amount of a Half Share:</label></td>
                            <td><span id="xp-halfshare">{{ .HalfShareXP }}</span> </td>
                        </tr>
                    </table>
                </div>
                <div class="box money" hx-target="this" hx-swap="outerHTML">
                    <h3>Coins - {{.Coins.TotalXPAmount }} XP</h3>
                    <table>
                        <thead>
                            <th>Type</th>
                            <th>Amount</th>
                            <th>XP Amount</th>
                        </thead>
                        <tr>
                            <td>Copper:</td>
                            <td>{{ .Coins.Copper.Number }}</td>
                            <td>{{ .Coins.Copper.TotalXPAmount }}</td>
                        </tr>
                        <tr>
                            <td>Silver:</td>
                            <td>{{ .Coins.Silver.Number }}</td>
                            <td>{{ .Coins.Silver.TotalXPAmount }}</td>
                        </tr>
                        <tr>
                            <td>Electrum:</td>
                            <td>{{ .Coins.Electrum.Number }}</td>
                            <td>{{ .Coins.Electrum.TotalXPAmount }}</td>

                        </tr>
                        <tr>
                            <td>Gold:</td>
                            <td>{{ .Coins.Gold.Number }}</td>
                            <td>{{ .Coins.Gold.TotalXPAmount }}</td>
                        </tr>
                        <tr>
                            <td>Platinum:</td>
                            <td>{{ .Coins.Platinum.Number }}</td>
                            <td>{{ .Coins.Platinum.TotalXPAmount }}</td>
                        </tr>
                    </table>
                    <button hx-get="{{ .CoinPath.Edit }}">Edit</button>
                </div>
                <div class="box characters">
                    <h3>Characters</h3>
                    <table id="characterList">
                    </table>
                </div>
                <div class="box">
                    <h3>Gemstones Recovered</h3>
                    <div class="xp-source" id="GemList">
                        <div class="tr">
                            <span class="td">Gem Name</span>
                            <span class="td">Number Found</span>
                            <span class="td">XP Per One</span>
                            <span class="td">Total XP</span>
                            <span class="td button-space"></span>
                            <span class="td"></span>
                        </div>
                        {{ range .Gems }}
                        <div class="tr" hx-target="this" hx-swap="outerHTML">
                            <span class="td">{{ .Name }}</span>
                            <span class="td">{{ .Number }}</span>
                            <span class="td">{{ .XPValue }}</span>
                            <span class="td">{{ .TotalXPAmount }}</span>
                            <span class="td button-space"></span>
                            <span class="td"><button hx-trigger="mousedown"
                                    hx-get="{{ .Path.Edit }}">Edit</button></span>
                            <span class="td"><button class="danger" hx-trigger="mousedown"
                                    hx-delete="{{ .Path.Display }}">Delete</button></span>
                        </div>
                        {{ end }}
                    </div>
                    <button hx-get="{{ .NewLootPath.Edit }}?type=gem" hx-target="body" hx-swap="beforeend">Add New Gem</button>
                </div>
                <div class="box">
                    <h3>jewelery Recovered</h3>
                    <div class="xp-source" id="JewelleryList">
                        <div class="tr">
                            <span class="td">Jewllery Name</span>
                            <span class="td">Number Found</span>
                            <span class="td">XP Per One</span>
                            <span class="td">Total XP</span>
                            <span class="td button-space"></span>
                            <span class="td"></span>
                        </div>
                        {{ range .Jewellery }}
                        <div class="tr" hx-target="this" hx-swap="outerHTML">
                            <span class="td">{{ .Name }}</span>
                            <span class="td">{{ .Number }}</span>
                            <span class="td">{{ .XPValue }}</span>
                            <span class="td">{{ .TotalXPAmount }}</span>
                            <span class="td button-space"></span>
                            <span class="td"><button hx-trigger="mousedown"
                                    hx-get="{{ .Path.Edit }}">Edit</button></span>
                            <span class="td"><button class="danger" hx-trigger="mousedown"
                                    hx-delete="{{ .Path.Display }}">Delete</button></span>
                        </div>
                        {{ end }}
                    </div>
                    <button hx-get="{{ .NewLootPath.Edit }}?type=jewellery" hx-target="body" hx-swap="beforeend">Add New Jewellery</button>
                </div>
                <div class="box">
                    <h3>Magic Items</h3>
                    <div class="xp-source" id="MagicItemList">
                        <div class="tr">
                            <span class="td">Name</span>
                            <span class="td">XP Value</span>
                            <span class="td">Gold value</span>
                            <span class="td button-space"></span>
                            <span class="td"></span>
                        </div>
                        {{ range .MagicItems }}
                        <div class="tr" hx-target="this" hx-swap="outerHTML">
                            <span class="td">{{ .Name }}</span>
                            <span class="td">{{ .ApparentValue }}</span>
                            <span class="td">{{ .GoldValye }}</span>
                            <span class="td button-space"></span>
                            <span class="td"><button hx-trigger="mousedown"
                                    hx-get="{{ .Path.Edit }}">Edit</button></span>
                            <span class="td"><button class="danger" hx-trigger="mousedown"
                                    hx-delete="{{ .Path.Display }}">Delete</button></span>
                        </div>
                        {{ end }}
                    </div>
                    <button hx-get="{{ .NewLootPath.Edit }}?type=magicItem" hx-target="body" hx-swap="beforeend">Add New Magic Item</button>
                </div>
                <div class="box">
                    <h3>Groups of Monsters Defeated</h3>
                    <div class="xp-source" id="CombatList">
                        <div class="tr">
                            <span class="td">Name</span>
                            <span class="td">Number Defeated</span>
                            <span class="td">XP Value</span>
                            <span class="td button-space"></span>
                            <span class="td"></span>
                        </div>
                        {{ range .Combat }}
                        <div class="tr" hx-target="this" hx-swap="outerHTML">
                            <span class="td">{{ .Name }}</span>
                            <span class="td">{{ .Number }}</span>
                            <span class="td">{{ .XPValue }}</span>
                            <span class="td button-space"></span>
                            <span class="td"><button hx-trigger="mousedown"
                                    hx-get="{{ .Path.Edit }}">Edit</button></span>
                            <span class="td"><button class="danger" hx-trigger="mousedown"
                                    hx-delete="{{ .Path.Display }}">Delete</button></span>
                        </div>
                        {{ end }}
                    </div>
                    <button hx-get="{{ .NewLootPath.Edit }}?type=combat" hx-target="body" hx-swap="beforeend">Add New Monster Group</button>
                </div>
            </div>
            <div id="sided" style="max-width: 225px">
            </div>
        </div>

    </div>

</body>

</html>