:root {
  /* TWILIGHT DARK */
  /* normal colors*/
  --blackNormal: #1e1e1e;
  --redNormal: #cf6a4c;
  --greenNormal: #8f9d6a;
  --yellowNormal: #f9ee98;
  --blueNormal:    #7587a6;
  --magenta1: #9b859d;
  --cyanNormal:    #afc4db;
  --whiteNormal:   #a7a7a7;
/* bright colors */
--blackBright:   #5f5a60;
--redBright:     #cf6a4c;
--greenBright:   #73b755;
--yellowBright:  #f9ee98;
--blueBright:    #7587a6;
--magentaBright: #9b859d;
--cyanBright:    #afc4db;
--whiteBright:   #ffffff;

  --lightgrey: #c0c5ce;
  --grey: #65737e;

  --foreground: var(--whiteNormal);
  --background: var(--blackNormal);
  color: var(--foreground);
  --main-color: var(--grey);
  --main-color-dk: var(--lightgrey);
  --accent-1: var(--greenNormal);
  --accent-2: var(--blueNormal);
  --content-spacing: 5px;
  --text-color: white;
  --link-color: var(--yellowBright);
  --border: 1px solid black;
  --main-bg: var(--blackNormal);
}

header {
  background-color: var(--main-bg);
  border: 1px, solid, var(--magentaBright);
}

html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier";
  background-color: var(--main-bg);
}

main {
  display: flex;
  flex-direction: row;
}

section {
  color: var(--text-color);
  background-attachment: fixed;

  border: 1px, solid, var(--greenNormal);

  & button {
    position: relative;
    bottom: 0;
  }
}

.campaign-box {
  margin: 5px 5px 5px 15px;
  padding: 0px 1em 1em 1em;
  & table {
    background-color: var(--blackBright);
  }
}

.content, .sidebar {
  display: flex;
  flex-direction: column;
  }

.sidebar {
  flex-grow: 1;
  min-width: 5%;
  max-width: 10%;
  float: right;
}

.content {
  flex-grow: 5;
  min-width: 20%;
  width: 25%;
}

.growing-content {
  display: flex;
  flex-direction: column;
   flex-grow: 5;
  min-width: 850px;
}

nav {

  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  & li {
    float: left;
    appearance: none;
    -webkit-appearance: none;
    margin-right: 0.4em;
    border-radius: 0px;

    --text-color: black
      /* rgba(100, 100, 100)*/
    ;
    --shadow-color: gray;
    --background: var(--background);

    color: var(--text-color, var(--shadow-color));
    background: var(--background);
    border: 1px solid var(--shadow-color);
    box-shadow: 4px 6px 1px 0px var(--shadow-color);

  }
  
  & li.login {
    float: right;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0px;

    --text-color: black
      /* rgba(100, 100, 100)*/
    ;
    --shadow-color: gray;
    --background: var(--greenNormal);

    color: var(--text-color, var(--shadow-color));
    background: var(--background);
    border: 1px solid var(--shadow-color);
    box-shadow: 4px 6px 1px 0px var(--shadow-color);

  }
  & li.login a:hover {
    background-color: var(--greenBright);
  }

  & li a {
    display: block;
    text-align: center;
    padding: 10px;
  }

  /* Change the link color to #111 (black) on hover */
  & li a:hover {
    background-color: #111;
  }
  & li button {
    display: block;
    text-align: center;
    padding: 10px;
  }

  /* Change the link color to #111 (black) on hover */
  & li button:hover {
    background-color: #111;
  } 
}

a {
  color: var(--yellowNormal)
}

a.action-navigation {
    float: left;
    appearance: none;
    -webkit-appearance: none;
   /* padding: 0.4em 0.6em;*/
    border-radius: 0px;

    --text-color: var(--yellow2)
      /* rgba(100, 100, 100)*/
    ;
    --shadow-color: gray;
    --background: var(--background);

    color: var(--text-color, var(--shadow-color));
    background: var(--background);
    border: 1px solid var(--shadow-color);
    box-shadow: 4px 6px 1px 0px var(--shadow-color);


    display: block;
    text-align: center;

  /* Change the link color to #111 (black) on hover */
    background-color: #111;
}

/* EDITORS */

form ol {
  list-style: none;
}

label {
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
}

input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}

button {
  appearance: none;
  -webkit-appearance: none;
  padding: 0.4em 0.6em;
  border-radius: 0px;

  --text-color: black
    /* rgba(100, 100, 100)*/
  ;
  --shadow-color: gray;
  --background: var(--whiteNormal);

  color: var(--text-color, var(--shadow-color));
  background: var(--background);
  border: 1px solid var(--shadow-color);
  box-shadow: 4px 6px 1px 0px var(--shadow-color);
}

/* SIMPLE CALCULATOR */
form.simple-adventure-form {
  display: flex;
  flex-direction: row;
  & fieldset {
    min-width: 325px;
  }
  & label {
    min-width:  150px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
  }
  & button.add {
    margin: 10px;
    align-self: center;
  }
}

/* TABLES */
table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

tr {
  color: black;
  display: table-row;
  background: var(--lightgrey);
}

tr:nth-of-type(odd) {
  background: var(--grey);
}
th {
font-weight: 900;
color: black;
background: var(--blueBright);
}

/* BUTTONS */

button:hover {
  background: var(--whiteBright);
}

button.danger {
  --shadow-color: red;
  /*--text-color: rgba(200,0,0,1);*/
  --background: rgba(255, 0, 0, 0.5);
}

button.danger:hover {
  --background: black;
}

button.add {
 --background: var(--greenNormal);
}

button.add:hover {
  /*--text-color: rgba(0,100,0,1) black; */
  --background: var(--greenBright);
}

button.success {
  /*--text-color: rgba(0,100,0,1) black; */
  --background: var(--greenNormal);
}
button.success:hover {
  /*--text-color: rgba(0,100,0,1) black; */
  --background: var(--greenBright);
}

button.warning {
  /* --text-color: rgba(150, 90, 16, 1);*/
  --shadow-color: orange;
  --background: rgba(255, 124, 10, 0.1);
}

button:active {
  transform: translateY(3px) translateX(3px);
  box-shadow: 0px 3px 1px 0px var(--shadow-color);
}