<nav>
    <ul>
        <li><a href="/home">Home</a></li>
        {{ if .User.LoggedIn }}
        <li ><a class="user-action" href="/user/{{ .User.Id }}/campaigns">Your Campaigns</a></li>
        {{ end }}
        <li><a href="/about">About</a></li>
        <li><a href="/tavern">Tavern</a></li>
        <li><a href="/guild">Guild</a></li>
        {{ if .User.LoggedIn }}
        <li style="float:right"><button  class="danger" hx-post="/depart">Depart</a></li>
        {{ else }}
        <li class="login"><a class="login" href="/gate">Enter</a></li>
        {{ end }}
    </ul>
</nav>