<!DOCTYPE html>
<html lang="en">

{{ template "head.html" }}
<body>
    <header>
        {{ template "banner.html" }}
    </header>
    <nav>
        {{ template "nav.html" . }}
    </nav>
    <main>
        <section class="content">

            <hgroup class="box">
                <h2 style="display:inline">Welcome!</h2>
                <p> This is Borderland Keep dot com, the Keep on the Internet. It is a husting livedness tracker crafted for the Adventurer Conqueror King II setup!
                    Feel free to look through the hustings anwardly brooking it, or to take a look around at other bits of the stead. </p>
                <h3 style="display:inline">News!</h3>
                <p>The <a href="/calculator">Simple Adventure Calculator</a> has taken off for use! It helps in reckoning the XP and GP shares of a lone undertaking. Brook it to
                get a feel for how the stead works. In the aftertime, once the husting stightling twothfand has begun a nearlike leaf will be used to fay XP so <adventures class=":w"></adventures></p>
                <h3>Firstfand Hustings</h3>
                {{ template "campaigns.html" .}}
            </hgroup>
        </section>
        {{ template "sidebar.html" . }}
    </main>
</body>

</html>
