<!DOCTYPE html>
<html lang="en">
{{ template "head.html" }}
<body>
    <header>
        {{ template "banner.html" }}
    </header>
    <nav>
        {{ template "nav.html" }}
    </nav>
    <main>
        <section class="box" id="hello">
            <h2 style="display:inline">Welcome...</h2>
            <p>The Guild is the Matrix homewebthew of Borderland Keep. Matrix is a text and reard* theenest that seeks to
                stand in for things like discord, guilded, telegram and other such posting upps. The main draw of
                matrix is that nearlike to email (and the irc of yore) it is outkerneled. That means a markup on any
                matrix Homewebthew will allow a user to infare <i>all</i> matrix rooms and leafs. No need to upkeep
                feelfold logins for missly theenests and softwares. If you wish to use the Borderland Keep homewebthew,
                this lodesman will show you how. </p>
            <h3>How to theed</h3>
            <p> Theeding the Borderland Keep matrix room is very onefold. Just click on <a
                    href="https://matrix.to/#/#borderland-keep-guildhall:guild.borderlandkeep.com"> this link </a> or
                use the one in the side bar. You will be greeted by a leaf nearlike to the one shown here. You may use
                <i>any</i> of the put forth softwares, but Element will be the most couth to brookers of discord/guilded.
                After picking a software, you will be asked to mark up. You may ofoldly use the matrix.org homebewthew.
                Mark up is free, and you will then be linked to the Room. That ofold insooth </p>
            <img src="static/matrix-reference.png" alt="Landing Page" class="inline-image" />
            <p> The mark up leaf looks like this: <img src="static/account-creation.png" alt="Account Creation screen"
                    class="inline-image" />
            <h3> What is the "homewebthew" </h3>
            <p>A homewebthew is exactly what is sounds like, it is the webthew where your matrix tellall lives, and where
                rooms are hosted. You may notice that your handle after mark up looks somewhat like a twitter handle,
                with the shape <code>
								@username:matrix.org
						</code> this means that your tellall is tied to the matrix.org homewebthew, guestgave by Element's dev team. Once
                that is done, you are free to ingang <b>any</b> room or dm <b>any</b> tellall on other homewebthews that
                talk to the matrix one. Many rooms are guestgave forthright in matrix, inholding some other ttrpg and hobby
                ones.</p>
            <h3>What about the Borderland Keep Homewebthew?</h3>
            <p>There is a sunderly homewebthew for Borderland Keep: guild.borderlandkeep.com. You may underget some brookers
                have this as their homewebthew instead of matrix.org. Anwardly, tellall begetting on the homewebthew is
                bid-only, meaning a tellall has to be made on the webthew forthright by an overseer. To get a bid at
                the throw, you will need to be able to put in to the work in some way, however in the
                toward there will likely be a half-theed way to allow markups (likely through underwritten gifting). The
                wits behind this are many, but the main two are:
            <ol>
                <li>Running this theen outlays shat and time. The more tellalls on the homewebthew, the more shat it
                    outlays. Keeping homewebthew ingang only to start with keeps outlays low.</li>
                <li>Upkeeping good tellall sickerhood is arveth, and I am a lone softwarewright. The team that upkeeps
                    the matrix.org homewebthew is much bigger and they take their work very sternly.</li>
            </ol>
            However, because of the whatness of matrix, your homewebthew of liking is mostly moot, as you are free
            to deal with the whole lifeweb at once.
        </section>
    {{ template "sidebar.html" . }}
    </main>
</body>

</html>
