<div class="tr">
    <span class="td">{{ .Data.DisplayType }} Name</span>
    <span class="td">XP Gained</span>
    <span class="td">Gold Value</span>
</div>
{{ range .Data.Loot }}
<div class="tr" hx-target="this" hx-swap="outerHTML">
    <span class="td">{{ .Data.Name }}</span>
    <span class="td">{{ .XPValue }}</span>
    <span class="td">{{ .GoldValue }}</span>
    <span class="td"><button hx-trigger="mousedown" hx-get="{{ .Data.Path.Edit }}">Edit</button></span>
    <span class="td"><button class="danger" hx-trigger="mousedown" hx-delete="{{ .Data.Path.Display }}">Delete</button></span>
</div>
{{ end }}