{{ range .Data.Campaigns }}
<hgroup class="campaign-box">
    <h4>{{ .Name }}</h4>
    <!--  <table>
        <tr>
            <td><b>Judge:</b></td>
            <td>{{ .Judge }}</td>
        </tr>
        <tr>
            <td>Looking for Players?</td>
            <td>{{ .Recruitment }}</td>
        </tr>
        <tr>
            <td>Last Adventure</td>
            <td>{{ .LastAdventure }}</td>
        </tr>
        <tr>
            <td> Time Keeping </td>
            <td> {{ .Timekeeping }} </td>
        </tr>
        <tr>
            <td><a href="/campaign/{{ .Id }}">View</a></td>
        </tr>
    </table> -->
    <ul style="list-style: none;">
        <li>
            <span>Judge: {{ .Judge }}</span>
        </li>
        <li>
            <span>
            Looking for Players? {{ call $.BoolToString .Recruitment }}
            </span>
        </li>
        <li>
            <span>
            Last Adventure {{ call $.NaturalDate .LastAdventure }}
            </span>
        </li>
        <li>
            <span>
            Time Keeping             {{ .Timekeeping }}
            </span>
        </li>
        <li>
            <a href="/campaign/{{ .Id }}">View Details</a>
        </li>
    </ul>
</hgroup>
{{ end }}
{{ if .Data.EndOfCampaigns }}
<br>
<small>
    End of Campaign List
</small>
{{ else }}
<div>
    <button class='btn primary' hx-get="/campaign-list?page=2" hx-target="closest div" hx-swap="outerHTML">
        Load more campaigns
    </button>
</div>
{{ end }}