{{ range .Campaigns }}
<section>
    <h4>{{ .Name }}</h4>
    <table>
        <tr>
            <td><b>Judge:</b></td>
            <td>{{ .Judge }}</td>
        </tr>
        <tr>
            <td>Looking for Players?</td>
            <td>{{ .Recruitment }}</td>
        </tr>
        <tr>
            <td>Last Adventure</td>
            <td>{{ .LastAdventure }}</td>
        </tr>
        <tr>
            <td> Time Keeping </td>
            <td> {{ .Timekeeping }} </td>
        </tr>
        <tr>
            <td><a href="/campaign/{{ .Id }}">View</a></td>
        </tr>
    </table>
</section>
{{ end }}
 {{ if .EndOfCampaigns }}
        <small>
            End of Campaign List
        </small>
        {{ else }}

<div>
    <button class='btn primary' hx-get="/campaign-list?page=2"
                              hx-target="closest div"
                              hx-swap="outerHTML">
               Load more campaigns
          </button>
          </div>
{{ end }}
