     <h3>Characters</h3>
                        {{ if lt .Data.NumberOfCharacters 1}}
                        <div class="box" id="proj">
                            <span> No Characters Defined for this Campaign to Display </span>
                        </div> {{ else }} <table>
                        <tr>
                            <th>Name</th>
                            <th>XP</th>
                            <th>Class</th>
                            <th>Level</th>
                            <th> Bonus XP </th>
                        </tr> {{ range .Data.Characters }}
                        <td>{{ .Name }}</td>
                        <td>{{ .CurrentXP }}</td>
                        <td>{{ .Class }}</td>
                        <td>{{ .Level }}</td>
                        <td>{{ .PrimeReqPercent }}%</td>
                        </tr>
                        {{ end}}
                        </table>
                        {{ end }}
                    <button hx-get="{{ .Data.CharacterPath.Edit}}" hx-trigger="mousedown">Edit Characters</button>
