<h3>{{ .Data.DisplayType}} Recovered</h3>
<table class="xp-source" id="{{ .Data.DisplayType}}List">
	<thead>
		<tr>
			<th class="td">Name</th>
			<th class="td">Number Found</th>
			<th class="td">XP Per One</th>
			<th class="td">Total XP</th>
		</tr>
	</thead>
	<tbody> {{ range .Data.Items }}
		<tr hx-target="this" hx-swap="outerHTML">
			<td>{{ .Name }}</td>
			<td>{{ .Number }}</td>
			<td>{{ .XPValue }}</td>
		</tr>
		{{ end }}
	</tbody>
</table>
<button hx-get="{{ .Data.Path.Edit }}" hx-trigger="mousedown">Edit {{ .Data.DisplayType }}</button>
