<form onsubmit="return false;">
    <h3>Editing Characters</h3>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Class</th>
                <th>Prime Requisite Percent</th>
            </tr>
        </thead>
        <tbody>
            {{ range $i, $c := .Characters }}
            <tr>
                <td> <input name="character-id" type="hidden" value="{{ $c.Id }}" /></td>
                <td><input name="character-name-{{ $c.Id }}" type="text" value="{{ $c.Name }}"></input></td>
                {{ if (index $.Errors $i).Name }}
                <br>
                <small class="form-text text-danger">
                    {{ (index $.Errors $i).Name }}
                </small>
                {{end}}
                <td> <select name="character-class-{{ $c.Id}}">
                        {{ range $.ClassOptions }}
                        <option value="{{ .ClassId }}" {{ if eq $c.Class .ClassName}} selected {{ end }}>{{ .ClassName
                            }}</option>
                        {{ end }}
                    </select>
                </td>
                <td>
                    <select name="character-preq-{{ .Id }}">
                        <option value="0" {{ if eq $c.PrimeReqPercent 0}} selected {{ end }}>0%</option>
                        <option value="5" {{ if eq $c.PrimeReqPercent 5}} selected {{ end }}>5%</option>
                        <option value="10" {{ if eq $c.PrimeReqPercent 10}} selected {{ end }}>10%</option>
                    </select>
                </td>
                <td><button hx-disinherit="true" class="danger" hx-target="closest tr" hx-swap="outerHTML"
                        hx-delete="{{ $.Path.Display }}?char-id={{ $c.Id }}" hx-trigger="mousedown">Delete</button></td>
            </tr>
            {{ end }}
            <tr>
                <td></td>
                <td><button hx-disinherit="true" hx-target="closest tr" hx-swap="beforebegin"
                        hx-get="{{ .NewCharacterPath.Display }}" hx-trigger="mousedown"> Add New Character</button></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <button class="success" hx-post="{{ .Path.Display }}" hx-trigger="mousedown" hx-swap="outerHTML"
        hx-target="closest form">Save Characters</button>
    <button class="danger" hx-get="{{ .Path.Display }}" hx-trigger="mousedown" hx-swap="outerHTML"
        hx-target="closest form">Cancel</button>
</form>