<form hx-target="this" hx-swap="outerHTML" onsubmit="return false;">
    <h3>Editing {{ .DisplayType }} Recovered</h3>
    <table class="xp-source" id="{{ .DisplayType}}List">
        <thead>
            <tr>
                <th>Name</th>
                <th>Number Found</th>
                <th>XP Per One</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Items }}
            <tr>
                <td><input name="name" type="text" value="{{ .Name }}"></input></td>
                    {{ if .Errors.Name }}
                    <br>
                    <small class="form-text text-danger">
                        {{ .Errors.Name }}
                    </small>
                    {{end}}
                <td><input name="number" type="text" value="{{ .Number }}"></input>
                    {{ if .Errors.Number }}
                    <br>
                    <small class="form-text text-danger">
                        {{ .Errors.Number }}
                    </small>
                    {{end}}
                </td>
                <td><input name="xp-value" type="text" value="{{ .XPValue }}"></input>

                    {{ if .Errors.XPValue }}
                    <br>
                    <small class="form-text text-danger">
                        {{ .Errors.XPValue }}
                    </small>
                    {{end}}                
                </td>
                <!--
                <td hx-target="this" hx-swap="outerHTML">
                    <input type="checkbox" name="sep_gp_value" hx-trigger="mousedown" hx-get="{{ .GPPath.Edit }}"/>
                        <label for="sep_gp_value">GP != XP</label>
                        <input name="gp-value" type="text" value="" disabled />
                    </td> -->
                <td><button hx-target="closest tr" hx-swap="outerHTML" hx-trigger="mousedown" hx-delete="{{ .Path.Display }}">Delete</button></td>
            </tr>
            {{ end }}
            <tr hx-target="this" hx-swap="beforebegin">
                <td></td>
                <td><button hx-get="{{ .NewItemPath.Display }}?type={{ .Type }}">Add New</button></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <button hx-post="{{ .Path.Display }}" hx-trigger="mousedown">Save {{ .DisplayType }}</button>
    <button hx-get="{{ .Path.Display }}" hx-trigger="mousedown">Cancel</button>
</form>