<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
	<div class="modal-underlay" _="on click trigger closeModal"></div>
	<div class="modal-content">

		<h1>New {{ .DisplayType }}</h1>
<form class="tr">
	<div><label for="name">Name</label><input type="text" name="name" value="" /></div>
	<div><label for="number">Number Defeated</label><input type="text" name="number_defeated" value="0" /></div>
	<div><label for="value">XP Value</label><input type="text" name="xp_value" value="0" /></div>
	<div><button hx-put="{{ .Path.Display }}?type={{ .LootType }}" hx-trigger="mousedown" hx-target="#{{ .DisplayType
			}}List" hx-swap="innerHTML" _="on mousedown trigger closeModal">Save</button></div>
	<div><button class="btn danger" _="on mousedown trigger closeModal">Cancel</button></div>
</form>
</div>