<!DOCTYPE html>
<html lang="en">
{{ template "head.html" }}

<body>
    <header>
        {{ template "banner.html" }}
    </header>
    <nav>
        {{ template "nav.html" }}
    </nav>
    <main>

        <section id="Software">
            <hgroup>
                <h3>Ettling</h3>
                <p>This is an undertaking of love. First ettled to be a landing stead and url for many brooks (mastodon, matrix among other), it
                    has windballed out into a full hustings stightling upp, anwardly spotlighted on the Adventure Conqueror King II setup. With this has come
                    some new thank, which are anwardly underway. To wit, a new take on the RPG thingstead and fledglinging tool as a whole. In the toward, I will be 
                    underfanging brooker markups to start upkeeping their own hustings, and brooking this as a tool to see other hustings anwardly underway.
                    The end goal is to bring back a half-theed way of hustlings stightling. Like seeing an underway hustings in the wild.
                Kindly take a look around, and brook your bide.</p>

            </hgroup>
            <hgroup>
                <h3>Software</h3>
                <p>Highmindedly made with golang and htmx. You may see the headspring riddlewrit <a href="https://github.com/FloodedRealms/borderland-keep">here.</a> 
                Be warned, it is not for the woakmooded. The headspring riddlewrit is leaved under AGPL 3.0</p>
                <img alt="Made with htmx" src="/static/img/createdwith.jpeg" width="680" height="168">
            </hgroup>
            <hgroup>
                <h3>Reach and Put in</h3>
                <p>I can be reached through email at <a href="mailto:shocktohp@floodedrealms.com">shocktohp@floodedrealms.com</a> I can also be found at missly steads online 
                such as <a href="https://floodedrealms.com/">my homeleaf</a> and on <a href="https://floodedrealms.substack.com/">substack</a>. I also hang out in missly 
                OSR and nearlike discords and on twitter. 
                If you want to outbear my work, and help me yield for a UI layoutwright, you may do so by either <a href="https://www.drivethrurpg.com/en/publisher/21168/flooded-realms-adventure-press">buying something I've written</a>
                or gifting to <a href="patreon.com/user?u=24144585">my patreon</a>
                
                Atlast, if you are software minded, you may put in through a pull hark on the github hoard.</p>
            </hgroup>
            <hgroup>
                <h3>FAQ</h3>
                <h4>Are you the handsome and very smart booker of Wavestone Keep?</h4>
                <p>yes</p>
                <h4>Do you have brain brist? This UI is awful</h4>
                <p>I am not a fore-endwright, nor do I call to be. It is a known hitch and being worked on.</p>
            </hgroup>
        </section>
        {{ template "sidebar.html" }}
    </main>
</body>

</html>
