<!DOCTYPE html>
<html lang="en">
{{ template "head.html" .}}

<body>
    <header>
        {{ template "banner.html" }}
    </header>
    <nav>
        {{ template "nav.html" . }}
    </nav>
    <nav>
        <ul>
            <li><a href="{{ .Data.ReturnPath }}">Back to Campaign</a></li>
        </ul>

    </nav>
    <main>
        <section class="box" id="adventure-and-characters" hx-get="{{ .Data.DetailsPath.Display }}"
            hx-trigger="updateOverview from:body" hx-target="this" hx-swap="innerHTML">
            {{ template "adventureOverview.html" . }}
                    </section>
        <section class="growing-content" >
            <hgroup id="coins" hx-target="this" hx-swap="innerHTML">
            <h3>Coins - {{.Data.Coins.TotalXPAmount }} XP</h3>
            <table>
                <thead>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>XP Amount</th>
                </thead>
                <tr>
                    <td>Copper:</td>
                    <td>{{ .Data.Coins.Copper.Number }}</td>
                    <td>{{ .Data.Coins.Copper.TotalXPAmount }}</td>
                </tr>
                <tr>
                    <td>Silver:</td>
                    <td>{{ .Data.Coins.Silver.Number }}</td>
                    <td>{{ .Data.Coins.Silver.TotalXPAmount }}</td>
                </tr>
                <tr>
                    <td>Electrum:</td>
                    <td>{{ .Data.Coins.Electrum.Number }}</td>
                    <td>{{ .Data.Coins.Electrum.TotalXPAmount }}</td>

                </tr>
                <tr>
                    <td>Gold:</td>
                    <td>{{ .Data.Coins.Gold.Number }}</td>
                    <td>{{ .Data.Coins.Gold.TotalXPAmount }}</td>
                </tr>
                <tr>
                    <td>Platinum:</td>
                    <td>{{ .Data.Coins.Platinum.Number }}</td>
                    <td>{{ .Data.Coins.Platinum.TotalXPAmount }}</td>
                </tr>
            </table>
            {{ if .Data.HasEditAccess }}
            <button hx-get="{{ .Data.CoinPath.Edit }}">Edit Coins</button>
            {{ end }}
</hgroup>
            <hgroup>
                <h3>Non-coin loot</h3>
                <hgroup hx-target="this" hx-swap="innerHTML">
                    <h4>Gemstones Recovered</h4>
                    <table class="xp-source" id="GemList">
                        <thead>
                            <tr>
                                <th class="td">Name</th>
                                <th class="td">Number Found</th>
                                <th class="td">XP Per One</th>
                                <th class="td">Total XP</th>
                            </tr>
                        </thead>
                        <tbody> {{ range .Data.Gems }}
                            <tr>
                                <td>{{ .Name }}</td>
                                <td>{{ .Number }}</td>
                                <td>{{ .XPValue }}</td>
                                <td>{{ .TotalXPAmount }}</td>
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                    {{ if .Data.HasEditAccess }}
                    <button hx-get="{{ .Data.GemPath.Edit }}" hx-trigger="mousedown">Edit Gems</button>
                    {{ end }}
                </hgroup>
                <hgroup hx-target="this" hx-swap="innerHTML">
                    <h4>Jewellery Recovered</h4>
                    <table class="xp-source" id="GemList">
                        <thead>
                            <tr>
                                <th class="td">Name</th>
                                <th class="td">Number Found</th>
                                <th class="td">XP Per One</th>
                                <th class="td">Total XP</th>
                            </tr>
                        </thead>
                        <tbody> {{ range .Data.Jewellery }}
                            <tr>
                                <td>{{ .Name }}</td>
                                <td>{{ .Number }}</td>
                                <td>{{ .XPValue }}</td>
                                <td>{{ .TotalXPAmount }}</td>
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                    {{ if .Data.HasEditAccess }}
                    <button hx-get="{{ .Data.JewelleryPath.Edit }}" hx-trigger="mousedown">Edit Jewellery</button>
                    {{ end }}
                </hgroup>
                <hgroup hx-target="this" hx-swap="innerHTML">
                    <h4>Magic Items</h4>
                    <table class="xp-source" id="CombatList">
                        <thead>
                            <tr>
                                <th class="td">Name</th>
                                <th class="td">Apparent/XP Value</th>
                                <th class="td">Total XP</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ range .Data.MagicItems }}
                            <tr>
                                <td>{{ .Name }}</td>
                                <td>{{ .XPValue }}</td>
                                <td>{{ .TotalXPAmount }}</td>
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                    {{ if .Data.HasEditAccess }}

                    <button hx-get="{{ .Data.MagicItemPath.Edit }}" hx-trigger="mousedown">Edit Magic Items</button>
                    {{ end }}
                </hgroup>

            </hgroup>
            <hgroup>
                <hgroup hx-target="this" hx-swap="innerHTML">
                    <h3>Combat XP</h3>
                    <table class="xp-source" id="CombatList">
                        <thead>
                            <tr>
                                <th class="td">Name</th>
                                <th class="td">Number Defeated</th>
                                <th class="td">XP Per Kill</th>
                                <th class="td">Total XP</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ range .Data.Combat }}
                            <tr>
                                <td>{{ .Name }}</td>
                                <td>{{ .Number }}</td>
                                <td>{{ .XPValue }}</td>
                                <td>{{ .TotalXPAmount }}</td>
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                    {{ if .Data.HasEditAccess }}

                    <button hx-get="{{ .Data.CombatPath.Edit }}" hx-trigger="mousedown">Edit Combat</button>
                    {{ end }}
                </hgroup>
            </hgroup>
        </section>

        {{ template "sidebar.html".}}
    </main>
</body>

</html>