<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>The Keep on the Internet</title>
    <link rel="stylesheet" href="/static/css/borderlandkeep.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
    <script src="https://unpkg.com/htmx.org"></script>
    <script>
        htmx.on("htmx:swapError", function (evt) {
            console.log(evt);
        });
    function handleRedirect(event) {
    var redirectUrl = event.detail.xhr.getResponseHeader("HX-Redirect");
    if (redirectUrl) {
        console.log("redirecting")
      window.location.href = redirectUrl;
    }
  }
    </script>
</head>

<body>
    <header>
        {{ template "banner.html" }}
    </header>
    <nav>
        {{ template "nav.html" . }}
    </nav>

    <main>
        <section class="content">
            {{ if .Data.OpenCampaignEditor }}
            {{ template "campaignEditor.html" . }}
            {{ else }}
            {{ template "campaignDetails.html" . }}
            {{ end }}
            <hgroup id="characters" class="box" hx-target="this" hx-swap="innerHTML">
                <h3>Characters</h3>
                {{ if lt .Data.NumberOfCharacters 1}}
                <div class="box" id="proj">
                    <span> No Characters Defined for this Campaign to Display </span>
                </div> {{ else }} <table>
                    <tr>
                        <th>Name</th>
                        <th>XP</th>
                        <th>Class</th>
                        <th>Level</th>
                        <th>Bonus XP</th>
                        <th>Status</th>
                    </tr> {{ range .Data.Characters }}
                    <td>{{ .Name }}</td>
                    <td>{{ .CurrentXP }}</td>
                    <td>{{ .Class }}</td>
                    <td>{{ .Level }}</td>
                    <td>{{ .PrimeReqPercent }}%</td>
                    <td>{{ .Status }}</td>
                    </tr>
                    {{ end}}
                </table>
                {{ end }}
                {{ if .Data.HasEditAccess }}
                <button hx-get="{{ .Data.CharacterPath.Edit}}" hx-trigger="mousedown">Edit Characters</button>
                {{ end }}
            </hgroup>

            <hgroup id="adventures">
                <div class="box">
                    <h3>Adventures</h3>
                    {{ if lt .Data.NumberOfAdventures 1}}
                    <div class="box" id="proj">
                        <span> No Characters Defined for this Campaign to Display </span>
                    </div>
                    {{ else }}
                    {{ template "adventureList.html" . }}
                    {{ end }}
                    {{ if .Data.HasEditAccess }}
                        <button hx-disinherit="true"  hx-trigger="mousedown" hx-post="{{ .Data.AdventurePath.Display }}">Add New Adventure</button>
                        {{ end }}
                </div>
            </hgroup>
            {{ if .Data.HasEditAccess }}
            <hgroup class="danger-zone">
                <h3>Danger Zone</h3>
                <fieldset>
                    <legend>Warning!</legend>
                    <button class="danger" hx-delete="/campaigns/{{ .Data.Id}}" hx-trigger="mousedown">Delete Campaign</button>
                </fieldset>
            </hgroup>
            {{ end }}
        </section>
        {{ template "sidebar.html" . }}
    </main>
</body>

</html>