<!DOCTYPE html>
<html lang="en">

{{ template "head.html" }}
<body>
    <header>
        {{ template "banner.html" }}
    </header>
    <nav>
        {{ template "nav.html" . }}
    </nav>
    <main>
        <section class="content">

            <hgroup class="box">
                <h2 style="display:inline">Welcome!</h2>
                <p> This is Borderland Keep dot com, the Keep on the Internet. It is a campaign experience tracker developed for the Adventurer Conqueror King II system!
                    Feel free to browse the campaigns currently utilizing it, or to take a look around at other sections of the site. </p>
                <h3 style="display:inline">News!</h3>
                <p>The <a href="/calculator">Simple Adventure Calculator</a> has launched for use! It aids in calculating the XP and GP shares of a single adventure. Use it to
                get a feel for how the site opperates. In the futute, once the campaign management beta has begun a similiar page will be used to add XP so <adventures class=":w"></adventures></p>
                <h3>Alpha Campaigns</h3>
                {{ template "campaigns.html" . }}
            </hgroup>
        </section>
        {{ template "sidebar.html" . }}
    </main>
</body>

</html>