<!DOCTYPE html>
<html lang="en">

{{ template "head.html" }}

<body>
    <header>
        {{ template "banner.html" }}
    </header>
    <nav>
        {{ template "nav.html" . }}
    </nav>
    <main>

        <section class="content">
            <form class="simple-adventure-form" onsubmit="return false;">
                <div>
                    {{ template "simpleAdventureDetails.html" .}}
                </div>
                <div>
                    <div style="display: flex; flex-direction: row;">
                        {{ template "simpleAttendanceForm.html" .}}
                        {{ template "simpleCoinForm.html" . }}
                    </div>
                    <div style="display: flex; flex-direction: row;">
                        {{ template "simpleLootForm.html" .}}
                        {{ template "simpleCombatForm.html" . }}
                        {{ template "simpleMagicItemForm.html" . }}
                    </div>
                </div>
            </form>
        </section>
        {{template "sidebar.html" . }}
    </main>
</body>

</html>