<!DOCTYPE html>
<html lang="en">

{{ template "head.html" }}
<body>
    <header>
        {{ template "banner.html" }}
    </header>
    <nav>
        {{ template "nav.html" . }}
    </nav>
    <main>

        <section class="content">

            <form onsubmit="return false;">
                <div>
                {{ template "simpleAdventureDetails.html" .}}
                {{ template "simpleAttendanceForm.html" .}}
                </div>
                <div>
                {{ template "simpleCoinForm.html" . }}
                {{ template "simpleLootForm.html" .}}
                {{ template "simpleCombatForm.html" . }}
                {{ template "simpleMagicItemForm.html" . }}
</div>
            </form>
        </section>

        {{ template "sidebar.html" . }}
    </main>
</body>

</html>