<!DOCTYPE html>
<html lang="en">
{{ template "head.html" }}

<body>
    <header>
        {{ template "banner.html" }}
    </header>
    <nav>
        {{template "nav.html" .}}
    </nav>
<main>
    <section class="box" id="hello">
        <h2 style="display:inline">The Tavern</h2>
        <p>The Tavern is Borderland Keep's Mastodon instance. Mastodon is a federated version of mircorblogging
            platforms like twitter or threads. Sign up just like you would on any of those platforms, howver now you
            have access to any other mastodon instance that is being hosted. No need to make multiple accounts for
            Borderland Keep, Dice Camp or anyt other instance. You cross post and interact with them to your hearts
            content.</p>
    </section>
    {{ template "sidebar.html" . }}
</main>
</body>

</html>