<tr>
    <td></td>
    <td><input name="new-character-name" type="text" value=""></input></td>
    <td> <select name="new-character-class">
            {{ range .ClassOptions }}
            <option value="{{ .ClassId }}">{{ .ClassName }}</option>
            {{ end }}
        </select>
    </td>
    <td>
        <select name="new-character-preq">
            <option value="0">0%</option>
            <option value="5">5%</option>
            <option value="10">10%</option>
        </select>

    </td>
    <td><button hx-disinherit="true" class="danger" hx-target="closest tr" hx-swap="outerHTML"
            hx-delete="{{ .DeletePath.Display }}" hx-trigger="mousedown">Delete</button></td>
</tr>