<h3>Combat Encounters</h3>

<table class="xp-source" id="CombatList">
    <thead>
        <tr>
            <th class="td">Name</th>
            <th class="td">Number Defeated</th>
            <th class="td">XP Per Kill</th>
            <th class="td">Total XP</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Items }}
        <tr>
            <td>{{ .Name }}</td>
            <td>{{ .Number }}</td>
            <td>{{ .XPValue }}</td>
            <td>{{ .TotalXPAmount }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>
<button hx-get="{{ .Path.Edit }}" hx-trigger="mousedown">Edit Combat</button>