<h3>Gemstones Recovered</h3>
<table class="xp-source" id="GemList">
	<thead>
		<tr>
			<th class="td">Gem Name</th>
			<th class="td">Number Found</th>
			<th class="td">XP Per One</th>
			<th class="td">Total XP</th>
			<th class="td button-space"></th>
			<th class="td"></th>
		</tr>
	</thead>
	<tbody> {{ range .Gems }}
		<tr hx-target="this" hx-swap="outerHTML">
			<td>{{ .Name }}</td>
			<td>{{ .Number }}</td>
			<td>{{ .XPValue }}</td>
			<td>{{ .TotalXPAmount }}</td>
		</tr>
		{{ end }}
	</tbody>
</table>
<button hx-get="{{ .GemPath.Edit }}" hx-trigger="mousedown">Edit Gems</button>