{{ define "index" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>The Keep on the Internet</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
    <script src="/static/scripts/index.js"></script>
</head>

<body>

    <div id="container">
        <pre id="ascii-banner" width="950" height="250">
    '########:::'#######::'########::'########::'########:'########::'##::::::::::'###::::'##::: ##:'########::
     ##.... ##:'##.... ##: ##.... ##: ##.... ##: ##.....:: ##.... ##: ##:::::::::'## ##::: ###:: ##: ##.... ##:
     ##:::: ##: ##:::: ##: ##:::: ##: ##:::: ##: ##::::::: ##:::: ##: ##::::::::'##:. ##:: ####: ##: ##:::: ##:
     ########:: ##:::: ##: ########:: ##:::: ##: ######::: ########:: ##:::::::'##:::. ##: ## ## ##: ##:::: ##:
     ##.... ##: ##:::: ##: ##.. ##::: ##:::: ##: ##...:::: ##.. ##::: ##::::::: #########: ##. ####: ##:::: ##:
     ##:::: ##: ##:::: ##: ##::. ##:: ##:::: ##: ##::::::: ##::. ##:: ##::::::: ##.... ##: ##:. ###: ##:::: ##:
     ########::. #######:: ##:::. ##: ########:: ########: ##:::. ##: ########: ##:::: ##: ##::. ##: ########::
    ........::::.......:::..:::::..::........:::........::..:::::..::........::..:::::..::..::::..::........:::
    '##:::'##:'########:'########:'########::                           [][][] /""\ [][][]
     ##::'##:: ##.....:: ##.....:: ##.... ##:                            |::| /____\ |::|
     ##:'##::: ##::::::: ##::::::: ##:::: ##:                            |[]|_|::::|_|[]|
     #####:::: ######::: ######::: ########::                            |::::::__::::::|
     ##. ##::: ##...:::: ##...:::: ##.....:::                            |:::::/||\:::::|
     ##:. ##:: ##::::::: ##::::::: ##::::::::                            |:#:::||||::#::|
     ##::. ##: ########: ########: ##::::::::                           #%*###&*##&*&#*&##
    ..::::..::........::........::..:::::::::                          ##%%*####*%%%###*%*#
</pre>
        <div class="flex">
            <div id="maind">
                <div id="campaigns">
                    {{ range . }}
                    <div class="box">
                        <h3>{{ .Name }}</h3>
                        <table>
                            <tr>
                                <td><b>Judge</b></td>
                                <td>{{ .Judge }}</td>
                            </tr>
                             <tr>
                                <td>Looking for Players?</td>
                                <td>{{ if .Recruitment }} yes {{ else }} no {{ end }}</td>
                            </tr>
                            <tr>
                                <td>Last Adventure</td>
                                <td>{{ .LastAdventure }}</td>
                            </tr>
                        </table>
                        <button onclick="openCampaignPage"></button>
                    </div>
                    <div class="nav-button">
                        <a href={{ .ID | link }}>View Edit Page</a>
                    </div>
                    {{ end }}
                </div>

            </div>
            <div id="sided" style="max-width: 225px">
            </div>
        </div>
    </div>
</body>

</html>
{{ end }}