<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>The Keep on the Internet</title>
    <link rel="stylesheet" href="/static/css/borderlandkeep.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
    <script src="https://unpkg.com/htmx.org"></script>
</head>

<body>
    <header>
        {{ template "banner.html" }}
    </header>
    {{ template "nav.html" }}
    <main>
        <section class="content">
            Welcome to Borderlandkeep.com! This is a play-focused campaign recruitment tool. Feel Free to browse the
            list of campaigns below!
            {{ range .Campaigns }}
            <hgroup class="campaign-box">
                <h4>{{ .Name }}</h4>
                <table>
                    <tr>
                        <td><b>Judge:</b></td>
                        <td>{{ .Judge }}</td>
                    </tr>
                    <tr>
                        <td>Looking for Players?</td>
                        <td>{{ .Recruitment }}</td>
                    </tr>
                    <tr>
                        <td>Last Adventure</td>
                        <td>{{ .LastAdventure }}</td>
                    </tr>
                    <tr>
                        <td> Time Keeping </td>
                        <td> {{ .Timekeeping }} </td>
                    </tr>
                    <tr>
                        <td><a href="/campaign/{{ .Id }}">View</a></td>
                    </tr>
                </table>
            </hgroup>
                {{ end }}
                {{ if .EndOfCampaigns }}
                <small>
                    End of Campaign List
                </small>
                {{ else }}
                <div>
                    <button class='btn primary' hx-get="/campaign-list?page=2" hx-target="closest div"
                        hx-swap="outerHTML">
                        Load more campaigns
                    </button>
                </div>
                {{ end }}

        </section>
        {{ template "sidebar.html" }}
         </main>
</body>

</html>