<form onsubmit="return false">
    <fieldset>
        <legend>Campaign Details</legend>
    <ol>
        <li>
            <label>Campaign Name:</label><input type="text" name="campaign-name" value="{{ .Data.Name }}" />
        </li>
        <li>

            <label>Judge:</label><input type="text" name="campaign-judge" value="{{ .Data.Judge }}" />
        </li>
        <li>
            <label for="campaign-recruiting">Looking For Players?</label>
            <select name="campaign-recruiting">
                <option value="yes" selected>Yes</option>
                <option value="no">No</option>
            </select>

        </li>
        <li>
            <label for="campaign-timekeeping">Timekeeping:</label>
            <select name="campaign-timekeeping">
                <option value="Pause" selected>Pause</option>
                <option value="Hybrid">Hybrid</option>
                <option value="Reference">Reference</option>
            </select>

        </li>

</fieldset>
        <button hx-patch="/campaign/{{ .Data.CampaignId }}" hx-target="closest form" hx-swap="outerHTML">Save</button>
</form>