<form class="box" hx-put="{{ .CoinPath.Display }}" hx-target="this" hx-swap="outerHTML">
    <ol>
        <li>
             <lable for="copper">Copper: </lable> <input type="text" name="copper" value="{{ .Coins.Copper.Number}}" />
        </li>
<li>
             <lable for="silver">Silver: </lable> <input type="text" name="silver" value="{{ .Coins.Silver.Number}}" />
        </li>
<li>
             <lable for="electrum">Electrum: </lable> <input type="text" name="electrum" value="{{ .Coins.Electrum.Number}}" />
        </li>
<li>
             <lable for="gold">Gold: </lable> <input type="text" name="gold" value="{{ .Coins.Gold.Number}}" />
        </li>
<li>
             <lable for="platinum">Platinum: </lable> <input type="text" name="platinum" value="{{ .Coins.Platinum.Number}}" />
        </li>
</ol>
    <button hx-put="{{ .CoinPath.Display }}">Save</button>
    <button hx-get="{{ .CoinPath.Display }}">Cancel</button>
</form>